.Game{
    width: 250px;
    padding: 1px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.details{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* display: none; */
}

.btn{
    width: 50%;
    background: blue;
    border-radius: 5px;
    height: 20px;
    /* display: none; */
}

.title{
    font-weight:bold;
    /* display: none; */
}

article:hover {
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;
    -ms-animation: 1s blinker linear infinite;
    -o-animation: 1s blinker linear infinite;
    animation: 1s blinker linear infinite;
    }
    
    @-webkit-keyframes blinker {
    0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }
    
    @-moz-keyframes blinker { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; } }
    
    @keyframes blinker { 0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0;} }